:root {
  --primary-green: #5dc0a6;
  --primary-dark-green: #267346;
  --primary-red: #f94943;
  --primary-dark-blue: #181834;
  --primary-blue-black: #181919;
  --primary-silver: #888897;
}

body {
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
  color: white;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: unset;
  cursor: default;
}

.centered-row {
  text-align: center;
}

.anime-table {
  margin: 60px;
  background-color: whitesmoke;
  color:black;
}

.loading-bar {
  display: block;
  margin: auto;
  padding-top: 100px;
}

.loading-icon {
  display: block;
  margin: auto;
}

.menu-bar {
  background-color: whitesmoke;
  display: flow-root;
  margin: -7px;
}

.menu-bar-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-bar-items > li > a {
  float: right;
  padding: 13px;
  color: black;
}

.menu-bar-items > li a:hover {
  background-color: black;
  color: white;
}
